@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, header, nav, section, footer {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #241A11, #382E20, #4F4130); 
}

.logo img {
    border-radius: 50%; 
    width: 150px; 
    height: 150px;  
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(to right, #241A11, #382E20, #4F4130); 
    padding: 10px 0;
    height: 17vh; 
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    right: 20px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.3s; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: transform 0.3s, color 0.3s, font-size 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

nav ul li:hover a {
    color: #ff5733; 
    transform: scale(1.5);
    font-size: xx-large; 
}

nav ul li:hover ~ li {
    transform: translateX(100px);
}

#hero {
    background: url('../../assets/background.png') center/cover no-repeat; 
    color: #fff;
    padding: 100px 0;
    text-align: center;
    height: 80vh; 
    position: relative;
    overflow: hidden;
}

#hero h2 {
    font-size: 50px;
    animation: moveText 4s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate; 
 }

 .right-image {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
}

.animate-image {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        right: -100px;
    }
    to {
        right: 20px;
    }
}

.left-image {
    position: absolute;
    top: 100%;
    left: -100px;
    transform: translateY(-50%);
}

.animate-left-image {
    animation: slideInLeft 0.5s forwards;
}

@keyframes slideInLeft {
    from {
        left: -100px;
    }
    to {
        left: 20px;
    }
}

.parallax {
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
}

.btn {
    display: inline-block;
    background: #ff0000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #ff8c66;
}

section {
    padding: 100px 0;
    text-align: center;
    position: relative;
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
}

#about {
    background-color: white;
    color: white;
    background-image: url('../../assets/b2.png');
    font-size: x-large;
}

#expertise {
    background-color: var(--background-color); 
    color: whitesmoke;
    background-image: url('../../assets/b2.png'); 
    font-size: x-large;
}

footer {
    background: linear-gradient(to right, #241A11, #382E20, #4F4130); 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

.expertise-icons img {
    margin-right: 10px; 
    opacity: 0;
    transform: translateY(50px);
}

.animate-icon {
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.white-bar {
    background-color: rgba(255, 255, 255, 0.5);
    height: 5px; 
    margin: 50px auto; 
    width: 50%;
}
