/* Import Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply Poppins font to all elements */
body, header, nav, section, footer {
    font-family: 'Poppins', sans-serif;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}
/* Logo Styles */
.logo img {
    border-radius: 50%; 
    width: 150px; 
    height: 150px;  
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    height: 17vh; 
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Navigation Styles */
nav {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    right: 20px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.3s; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px; /* Make the font size bigger */
    transition: transform 0.3s, color 0.3s, font-size 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

nav ul li:hover a {
    color: #ff5733; 
    transform: scale(1.5);
    font-size: x-large; 
}


nav ul li:hover ~ li {
    transform: translateX(100px);
}


/* Hero Section Styles */
/* Hero Section Styles */
#hero {
    background: url('../../assets/background.png') center/cover no-repeat; 
    color: #fff;
    padding: 100px 0;
    text-align: center;
    height: 69vh; 
    position: relative;
    overflow: hidden;
}

#hero h2 {
    font-size: 36px;
    animation: moveText 5s linear infinite alternate; 
}

/* Define the animation */
@keyframes moveText {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

.parallax {
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
}


/* Button Styles */
.btn {
    display: inline-block;
    background: #ff0000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #ff8c66;
}

/* sections */
section {
    padding: 100px 0;
    text-align: center;
    position: relative;
}


#about {
    background-color: #f2f2f2;
    color: #333;
}


#expertise {
    background-color: #d9d9d9;
    color: #333;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


